:root{
    --lighting-color:#0089b7;
    --dark-color:#003d62;
    --darker-color:#003251;
    --secondarydark-color:#fff700;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    color: ghostwhite;
    scroll-behavior: smooth;
}

header{
    background-color: var(--lighting-color);
    
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
nav{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    font-size: 30px;
}
nav ul{
list-style-type: none;
display: flex;
gap: 10px;
}
nav ul li{
font-size: 20px;
border-bottom: 2px solid transparent;
}
nav ul li:hover{
   transition:  0.3s ease-in-out;
    border-bottom: 2px solid var(--secondarydark-color);
}
#hero{
    background-color: var(--darker-color);
    padding: 40px 0;
    border-bottom: 4px solid var(--lighting-color);
}
#hero .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.hero-content{
    display: grid;
    place-items: center;
}
#hero h1{
    font-size: 30px;
}
.hi{
    font-size: 65px;
    font-weight: bold;
    color: var(--secondarydark-color);
}
.name{
    font-size: 50px;
}
#hero h2{
    font-size: 40px;
    font-weight: bold;
    overflow: hidden;
    border-right: 0.15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 5s steps(30,end),blink-caret 0.75s step-end infinite;
}
@keyframes typing{
    from{
        width: 0;
      
    }
    to{
        width: 100%;
       
    }
}
@keyframes blink-caret{
    from,to{
      
        border-color:orange;
    }
    50%{
        border-color: transparent;
    }
    
}

#projects{
    background-color: var(--darker-color);
}
#projects h2{
    font-size: 60px;
    text-align: center;
    /* margin: 20px 0; */
    text-transform: uppercase;
}
#project {
    background: var(--darker-color);
  }
  
  #project h2 {
    font-size: 6rem;
    text-align: center;
    padding: 2rem 0;
  }
  .project_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
  }
  .grid_item {
    display: grid;
    place-items: center;
  }
  
  .card {
    width: 320px;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: 0.2s ease-in-out;
  }
  .card:hover {
    transform: scale(1.05);
    transition: 1s ease-in-out;
  }
  .card:hover img {
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    opacity: 0.8;
  }
  .card:hover .card_content {
    background: white;
    color: var(--dark-color);
    transform: translateY(0px);
  }
  
  .card_content {
    padding: 2rem;
    position: relative;
    top: -6.5rem;
    margin-bottom: -6.5rem;
    transition: 0.5s ease-in-out;
    transform: translateY(100px);
  }
  .card_content h3 {
    text-align: center;
  }
  
  /* Contact Section */
  #contact {
    background: var(--dark-color);
  }
  
  #contact h2 {
    font-size: 6rem;
    text-align: center;
    margin: 2rem 0;
  }
  
  #contact .container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
  }
  
  .top_contact {
    max-width: 800px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }
  .contact_way {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  
  .contact_way i {
    font-size: 3rem;
  }
  .contact_way h3 {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .bottom_contact {
    max-width: 400px;
    gap: 1rem;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }
  
  /* Footer */
  
  footer {
    background: var(--darker-color);
    padding: 2rem;
    color: white;
    font-size: 1.6rem;
    text-align: center;
  }
  
  /* Media Query */
  
  @media (max-width: 786px) {
    html {
      font-size: 40%;
    }
    #hero .container {
      flex-direction: column;
    }
    .hero_image {
      display: grid;
      place-items: center;
    }
    #contact .container {
      height: 70vh;
    }
  }
  @media (max-width: 500px) {
    html {
      font-size: 32%;
    }
    #hero .container {
      flex-direction: column;
    }
    .hero_image {
      display: grid;
      place-items: center;
    }
    #contact .container {
      height: 50vh;
    }
  }